h2{
    color: rgb(47, 47, 214);
    font: 20px arial;
    font-weight: bold;
}

#fset {
    display: block;
    width: 400px;
    float:left;
}

label{
    padding-top: 5px;
    padding-bottom: 5px;
}
