h2 {
  color: rgb(47, 47, 214);
  font: 20px arial;
  font-weight: bold;
}

label {
  padding-top: 5px;
  padding-bottom: 5px;
}

.botao {
  float: right;
  height: 25px;
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  display: flex;
}

.container{
  width: 50%;
  background-color: rgb(218, 218, 218);
}

.flexivel{
  display: flex;
}

.horizontal{
  flex-direction: row;
}

.vertical{
  flex-direction: column;
}

.quebra{
  flex-wrap: wrap;
}

.centralizar{
  text-align: center;
}

form{
  text-align: left;
}

.fcinza{
  background-color: gray;
}

.fverde{
  background-color: rgb(108, 158, 42);
}

.fazul{
  background-color: aqua;
}

fieldset{
  border-color: rgb(168, 26, 26);
}

legend{
  margin-bottom: 20px;
}